/* whole font on page changed to tahoma */
body {
    font-family: "Tahoma";
}

/* main section with flexbox defined */
main {
    display: flex;
    background-color: rgb(255, 255, 255);
}

/* left sections */
#left {
    background-color: rgb(255, 255, 255);
    width: 50%;
    font-size: 20px;
    margin: -40px 100px;
}

p {
    font-size: 15px;
    margin: 20px 0px;
}

.icon {
    margin-top: -20px;
}
/* right section */
#right {
    background-color: greenyellow;
    width: 50%;
    text-align: center;
}

nav>ul {
    display: flex;
    justify-content: right;
   gap: 10px;
    margin: 80px 100px;
    background-color: rgb(255, 255, 255);
}

.nav-link {
    border: 0px solid rgb(184, 225, 236);
    list-style: none;
    padding: 8px 15px;
    margin: 0px;
    margin-left: 4px;
}

.btn { 
    background-color: rgb(255, 230, 233);
}

.btn:hover {
    background-color: pink;
}

.chat-btn {
    width: 200px;
    padding: 14px 25px;
    margin: 20px 0px;
    border: none;
    font-family: "Tahoma";

}
/* h1 {
    border:0.5px dashed black;
    padding: 20px;
    text-align: center;
    margin-top: -112px;
} */
