/* whole font on page changed to tahoma */
body {
    font-family: "Tahoma";
}

/* main section with flexbox defined */
main {
    display: flex;
    background-color: rgb(255, 255, 255);
}

/* left sections */
#left {
    background-color: rgb(255, 255, 255);
    width: 50%;
    font-size: 17px;
    margin: -20px 100px;
}

p {
    font-size: 15px;
    margin: 20px 0px;
}

.icon {
    margin-top: -20px;
}
/* right section */
#right {
    background-color: rgb(255, 255, 255);
    width: 50%;
    text-align: center;
}

#image {
    width: 80%;
    padding-right:7%;
}

span {
    color: rgb(152, 152, 255);
}

nav>ul {
    display: flex;
    justify-content: right;
   gap: 10px;
    margin: 50px 100px;
    background-color: rgb(255, 255, 255);
}

.nav-link {
    border: 0px solid rgb(1, 12, 16);
    list-style: none;
    padding: 8px 14px;
    margin: 0px 0px;
    margin-left: 13.2px
    
}

.btn { 
    background-color: rgb(255, 230, 233);
}

.btn:hover {
    background-color: pink;
}

.chat-btn {
    /* display: block; */
    width: 200px;
    padding: 14px 25px;
    margin: 20px 0px;
    border: none;
    font-family: "Tahoma";

}

a {
    color: black;
    text-decoration: none;
}






/* h1 {
    border:0.5px dashed black;
    padding: 20px;
    text-align: center;
    margin-top: -112px;
} */
