.btn {
  background-color: #43c0f6;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.btn:focus {
  background-color: #b2e4fa;
}
